nav {
    position: fixed;
    background-color: rgb(0, 0, 0, .2);
    z-index: 1;
}

.navItem>a {
    text-decoration: none;
    color: white;
    font-size: x-large;
    text-shadow: 2px 2px 2px black;
    text-transform: uppercase;
    font-weight: 300;
}

.navItem>.active {
    text-decoration: underline;
}

.navItem:hover {
    /* animation: invertNavLinkBackground .5s forwards; */
}

.navItem {
    /* animation: revertNavLinkBackground .5s forwards; */
}

.navItem:hover a {
    animation: invertNavLinks .5s forwards;
}

.navItem a {
    animation: revertNavLinks .5s forwards;
}

@keyframes invertNavLinks {
    to {
        /* filter: invert(100%); */
        text-shadow: 7px 7px 5px #29b0ac;
    }
}

@keyframes revertNavLinks {
    from {
        text-shadow: 7px 7px 5px #29b0ac;
    }
    to {
        text-shadow: 2px 2px 2px black;
        /* filter: invert(0%); */
    }
}

@keyframes invertNavLinkBackground {
    to {
        background-color: rgb(124, 143, 213, .1);
    }
}

@keyframes revertNavLinkBackground {
    to {
        background-color: transparent;
    }
}