.detailedProjectCardContainer {
    width: 30vw;
    height: 50vh;
    margin: 2vh;
    border-radius: 10px;
    /* width: max-content;
    height: max-content; */
    background-color: #5c2756;
}

.detailedProjectCard {
    position: relative;
    color: white;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.detailedProjectCardProjectName {
    font-size: 2vw;
}

.detailedProjectCard>p {
    font-size: 1vw;
}

.detailedProjectCardClickablesContainer {
    position: absolute;
    bottom: -20%;
    margin-top: auto;
    margin-bottom: 0;
    width: 100%;
    display: flex;
}

.detailedProjectCardClickablesContainer button, .detailedProjectCardClickablesContainer a {
    all: initial;
    width: 20%;
    text-align: center;
    font-size: x-large;
    color: white;
    border: 2px solid white;
    padding: 1%;
    vertical-align: middle;
    font-family: 'Source Sans Pro', sans-serif;
}

.detailedProjectCardClickablesContainer button {
    margin-right: auto;
    margin-left: auto;
}

.detailedProjectCardClickablesContainer a {
    margin-right: auto;
    margin-left: auto;
}

.detailedProjectCardClickablesContainer button:hover, .detailedProjectCardClickablesContainer a:hover {
    cursor: pointer;
    background-color: #005e6c;
}

.status>.ongoing {
    color: #29b0ac;
}

.status>.inProgress {
    color: #faa41a;
}

.status>.completed {
    color: #67973f;
}

.detailedProjectCardProjectName {
    margin-bottom: 0;
}

/*     "#29b0ac",
    "#67973f",
    "#faa41a",
    "#5c2756",
    "#005e6c"
 */

/* 
.detailedProjectCardClickablesContainer button:active {
    background-color: #67973f;
} */