#projectsSectionContainer {
    padding-top: 2%;
    /* width: 80%; */
    margin: auto;
    margin-bottom: 30vh;
    min-height: 100vh;
}

#tagSearchBar {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 30%;
    height: 1.5vw;
    font-size: 1.2vw;
}

#projectsSectionContainer>h2 {
    font-size: xx-large;
}

#allTagsContainer {
    margin: auto;
    width: 60%;
}

.tagsContainer {
    /* padding-top: 10px; */
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tagTitle {
    margin-bottom: 0;
    /* padding: 2px; */
    font-weight: bold;
    font-size: 24px;
}

.tag {
    padding: 10px;
    border: 1px solid white;
    margin: 5px;
    min-width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: 0px; */
}

.tag.selectedTag {
    background-color: #67973f;
}

.tag:hover {
    cursor: pointer;
    background-color: #67973f;
}

.detailedProjectCardContainer.hide {
    animation: hideProject 1s forwards;
    /* display: none; */
    /* flex-grow: .000001; */
    /* transition: all 1s; */
}

.detailedProjectCardContainer.show {
    /* display: block; */
    /* flex-grow: 1; */
    animation: showProject 3s forwards;
}

@keyframes showProject {
    from {
        opacity: 0;
        /* width: 0; */
        /* flex-grow: .01; */
    }
    to {
        opacity: 1;
        /* width: initial; */
        /* flex-grow: 1; */
    }
}

@keyframes hideProject {
    from {
        /* flex-grow: 1; */
        /* width: initial; */
        opacity: 1;
    }
    to {
        opacity: 0;
        /* width: 0 */
        /* flex-grow: .1; */
    }
}