.educationCardWrapper {
    width: 100%;
    height: 50%;
}

.educationCardContainer {
    width: 100%;
    height: 90%;
}


.schoolHeader {
    display: flex;
}

.schoolName {
    display: inline-block;
    font-size: 2vw;
    text-decoration: underline;
    margin-left: 0;
    margin-right: 0;
}

.educationContent {
    padding: 1%;
}

.educationDescription {
    text-align: left;
    font-size: 1.25vw;
}

.enrolledDates {
    font-size: 1.5vw;
    margin-right: 0;
    margin-left: auto;
}

.schoolLocation { 
    margin-left: 0;
    margin-right: auto;
    text-decoration: none;
    font-size: 1.5vw;
}