@import '../MultiViewStyles/Nav.css';
#homeViewNavBarContainer {
    width: 15vw;
    left: -15vw;
    display: flex;
    align-items: center;
    height: 100vh;
}

#homeViewNavBarItems {
    list-style: none;
    padding: 0;
    margin: auto;
    text-align: center;
}

#homeViewNavBarItems li+li {
    margin-top: 7vh;
}