#skillsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* border: 1px solid black; */
    /* height: 70vh; */
    justify-content: center;
}

#homeSkillsSection {
    padding-top: 10vh;
}

#homeSkillsSection>.sectionContent {}

#skillsContainer {
    /* height: 400vh; */
    height: fit-content;
    margin-bottom: 10vh;
}