body {
    background-color: #282c34;
    overflow-y: scroll;
}

html {
    scroll-snap-type: y proximity;
    scroll-behavior: smooth;
}

section {
    scroll-snap-align: start;
    scroll-snap-stop: normal;
}

#scrollToTopButtonWrapper {
    position: fixed;
    bottom: 3%;
    right: 5%;
    animation: displayScrollToTopButtonAnimation 1s forwards;
}

#scrollToTopButtonWrapper>button {
    all: unset;
}

#scrollToTopButtonWrapper>button:hover {
    cursor: pointer;
}

[data-icon="arrow-circle-up"] {
    color: white;
}

@keyframes displayScrollToTopButtonAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}